@inherits LayoutComponentBase

<PageTitle>Pagina Definitiva</PageTitle>

<div class="page">
    <div class="nav-main">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<section class="Redes">
            <p>Follow developer</p>
            <div class="links">
                <a href="https://www.facebook.com/ivo.palomeque/">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://twitter.com/IvoPalomeque">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/ivo_palomequee/">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://discord.gg/8tMkGdtfnx">
                    <i class="fab fa-discord"></i>
                </a>
            </div>
        </section>

    <div class="pie-de-links">
        <div class="contenido-de-pie">
            <ul>
                <li>
                    <a href="#"> 
                        <h3>Título  Uno</h3>
                    </a>
                </li> 
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#"> 
                        <h3>Título  Uno</h3>
                    </a>
                </li> 
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#"> 
                        <h3>Título  Uno</h3>
                    </a>
                </li> 
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#"> 
                        <h3>Título  Uno</h3>
                    </a>
                </li> 
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
            </ul>
        </div>
    </div>
        