<div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>

     <div class="container"> <!-- Se emplea para definir un bloque de contenido o sección de la página. La clase container se define para poder modificar todo su contenido en css -->

        <nav class="nav-main"> <!--Toda la navegación va a abarcarse dentro de esta clase nav-main para poder modificarse en css-->
            <a href="/"><img src="\css\img\Esfera_del_dragon_4_estrellas.webp"alt="Logo" class="nav-brand"></a>  
            <ul class="nav-menu">
                <li>
                    <a href="animelist">Lista de animes</a>
                </li>
                <li>
                    <a href="generos">Selección por géneros</a>
                </li>
                <li>
                    <a href="reseñas">Reseñas</a>
                </li>
                <li>
                    <a href="visualizacion-descargas">Visualización y descarga</a>
                </li>
                <li>
                    <a href="emision">En emisión</a>
                </li>
                <li>
                    <a href="desarrollador">Desarrollador</a>
                </li>
            </ul>
            <ul class="nav-menu-rigth"> <!--En el lado derecho de la barra de navegación-->
                <li>
                    <a href="login">Iniciar sesión</a>
                </li>
                <li>    
                    <div class="Buscar">
                    <form action="/browse" method="get">
                        <input name="q" type="text" id="search-anime" autocomplete="off" placeholder="Buscar...">
                        <button><i class="fas fa-search"></i></button>
                    </form>
                    </div>
                </li>
            </ul>
        </nav>
    </div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
