@page "/animelist"

<div class="AnimesTitle">
            <br>
             <h1>Lista de Animes</h1> 
        </div>
        <div class="news-Anime">
     <div class="Anime">
            <img src="img/POCHITA ANASHEI PNG.png" alt="Panel1">
            <h3>Lorem ipsum dolor sit amet</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel2">
        <h3>Lorem ipsum dolor sit amet consec.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque? </p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel3">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
        </div>
        <section class="Redes">
            <p>Follow developer</p>
            <div class="links">
                <a href="https://www.facebook.com/ivo.palomeque/">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://twitter.com/IvoPalomeque">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/ivo_palomequee/">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://discord.gg/8tMkGdtfnx">
                    <i class="fab fa-discord"></i>
                </a>
            </div>
        </section>
 <div class="pie-de-links"> 
        <div class="contenido-de-pie">
            <ul>
                <li>
                    <a href="#"> 
                        <h3>Título  Uno</h3>
                    </a>
                </li> 
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#"> 
                        <h3>Título  Uno</h3>
                    </a>
                </li> 
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#"> 
                        <h3>Título  Uno</h3>
                    </a>
                </li> 
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#"> 
                        <h3>Título  Uno</h3>
                    </a>
                </li> 
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
                <li>
                    <a href="#"> 
                        <h3>Anashe</h3>
                    </a>
                </li>
            </ul>
        </div>
 </div>