@page "/animelist"

<div class="AnimesTitle">
            <br>
             <h1>Lista de Animes</h1> 
        </div>
        <div class="news-Anime">
     <div class="Anime">
            <img src="img/POCHITA ANASHEI PNG.png" alt="Panel1">
            <h3>Lorem ipsum dolor sit amet</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel2">
        <h3>Lorem ipsum dolor sit amet consec.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque? </p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel3">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
     <div class="Anime">
        <img src="img/POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
     </div>
 </div>
        