@page "/"

<header class="PortadaInicial">
            <h2>El mejor contenido solo aquí</h2>
            <p>Buena información, reseñas completamente objetivas, gran variedad de contenido y las mejores recomendaciones</p>
            <p>¿Qué más se puede pedir?</p>
            <a href="#"class="buttonsesion">Inicial sesión <i class="fas fa-chevron-right"></i></a> 
        </header>
        <!--Noticias-->
        <div class="NombreNoticias">
            <br>
             <h1>Noticias</h1> 
        </div>
        <div class="news-cards">
     <div class="NuevoPanel">
            <img class="img-fluid" src="\css\img\POCHITA ANASHEI PNG.png" alt="Panel1">
            <h3>Lorem ipsum dolor sit amet</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
            <a href="#">Ver más <i class="fas fa-angle-double-right"></i></a>
     </div>
     <div class="NuevoPanel">
        <img class="img-fluid" src="\css\img\POCHITA ANASHEI PNG.png" alt="Panel2">
        <h3>Lorem ipsum dolor sit amet consec.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque? </p>
        <a href="#">Ver más <i class="fas fa-angle-double-right"></i></a>
     </div>
     <div class="NuevoPanel">
        <img class="img-fluid" src="\css\img\POCHITA ANASHEI PNG.png" alt="Panel3">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
        <a href="#">Ver más <i class="fas fa-angle-double-right"></i></a>
     </div>
     <div class="NuevoPanel">
        <img class="img-fluid" src="\css\img\POCHITA ANASHEI PNG.png" alt="Panel4">
        <h3>Lorem ipsum dolor sit amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
        <a href="#">Ver más <i class="fas fa-angle-double-right"></i></a>
     </div>
        </div>
        <section class="ImagenCartasPortada">
            <div class="content">
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, reiciendis molestias. Fugiat aperiam saepe veniam hic iusto iste quis minus!</p>
                <a href="#" class="button-card">Ver más<i class="fas fa-chevron-right"></i></a>
            </div>
        </section>
        <!--Recomendaciones-->
        <div class="NombreRecomendacion">
            <br>
         <h1>Recomendaciones</h1>
        </div>
         <div class="Recomendacion">
            <div class="NuevaRecomendacion">
                <img class="img-fluid" src="\css\img\POCHITA ANASHEI PNG.png" alt="Recomendacion1">
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
                <a href="#">Ver más <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div class="NuevaRecomendacion">
                <img class="img-fluid" src="\css\img\POCHITA ANASHEI PNG.png" alt="Recomendacion2">
                <h3>Lorem ipsum dolor sit amet consec.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque? </p>
                <a href="#">Ver más <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div class="NuevaRecomendacion">
                <img class="img-fluid" src="\css\img\POCHITA ANASHEI PNG.png" alt="Recomendacion3">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
                <a href="#">Ver más <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div class="NuevaRecomendacion">
                <img class="img-fluid" src="\css\img\POCHITA ANASHEI PNG.png" alt="Recomendacion4">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus molestiae saepe rerum cum unde, aspernatur ratione itaque?</p>
                <a href="#">Ver más <i class="fas fa-angle-double-right"></i></a>
            </div>
        </div>
        <section class="ImagenCartasPortada2">
            <div class="content">
                <h2>Lorem ipsum dolor sit amet consectetur</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam consequuntur deleniti eum nesciunt magnam obcaecati suscipit architecto quas doloribus dolore?</p>
                <a href="#" class="button-card">Ver más<i class="fas fa-chevron-right"></i></a>
            </div>
        </section>
